@import "css dosyalar覺/navbarr.css";
@import "css dosyalar覺/footer.css";
@import "css dosyalar覺/parag.css";
@import "css dosyalar覺/feedback.css";

body {
    background-color:#233042;
    color: aliceblue;
}
.welcome{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align:center;
}